<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.tedu.petCommunity.sys.dao.PetcUserDao">
	<select id="findUserInfo" parameterType="int"
		resultType="com.tedu.petCommunity.sys.entity.PetcUserPO">
		select *
		from user
		where id=#{userId}
	</select>
	<update id="updateUserInfo"
		parameterType="com.tedu.petCommunity.sys.entity.PetcUserPO">
		update user set username =#{username},
		nickname=#{nickname},
		email=#{email},
		mobile=#{mobile},
		pet_type=#{petType},
		valid=#{valid},
		modified_time=now(),
		modified_user=#{modifiedUser} where id=#{id}
	</update>
	<update id="updatePassword">
         update user
         set password=#{password},
             salt=#{salt},
             modified_time=now()
         where id=#{id}
</update>
	
	<!-- 添加数据 -->
	<insert id="insertAll" parameterType="com.tedu.petCommunity.sys.entity.PetcUserPO">
		insert into user(username,password,mobile,nickname,salt) 
		values
		(#{username},#{password},#{mobile},#{nickname},#{salt}) 
	</insert>
	
	<select id="existName" resultType="com.tedu.petCommunity.sys.entity.PetcUserPO">
		select * from user where username=#{username}
	</select>
</mapper>