<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<style type="text/css">
#activity{
	text-align: center;
	width:100%;
	height:150px
}
.row{
	background:#75BD43;
	 background-position: 50% 0px;
}
#search{
	float:right ;
}
</style>
</head>
<body class="activityColor" style="margin:0px;padding:0px">
<div class="row">
	<div class="col-xs-12">
		<div class="box">
			<div class="box-header">
				<h3 class="box-title">活动信息</h3>
			</div>
			<!-- /.box-header -->
			<a href="activity/search" class="activity/search" >
				<button>寻找</button>
			</a>
			<a href="activity/create" class="activity/create" >
				<button>创建</button>
			</a>
			<div class="box-body table-responsive no-padding">
				<div>
					<span>活动名</span><br><br>
					<div id="activity">
					</div>
				</div>
				<!--  <table class="table table-hover" style="height:100px">
					<thead>
						<tr>
							<th style="text-align: center">社区名</th>
						</tr>
					</thead>
					<tbody id="tbodyId" >
					    <tr id="trId" >
					       <td rowspan="2">数据正在加载中...</td>
					    </tr>
					</tbody>
				</table>  -->
			</div>
				<div id="pageId" class="box-footer clearfix">
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$(function() {
		const pageUrl ="doPageUI";
		$("#pageId").load(pageUrl, function() {
			doGetObjects();
		});
	})

	function doGetObjects() {
		var url = "activity/doFindActivitys"
		var pageCurrent = $("#pageId").data("pageCurrent");
		var user_id =114;//$("#loginUserId").data("userId")
		if (!pageCurrent)
			pageCurrent = 1;
		var params = {
			"pageCurrent" : pageCurrent,
			"userId" : user_id
		};
		$.getJSON(url, params, function(result) {
			doHandleResponseResult(result);
		});//特殊的ajax函数
	}
	function doHandleResponseResult(result) { //JsonResult
		if (result.state == 1) {//ok
			
			doSetTableBodyRows(result.data.records);//将数据呈现在页面上 
			//刷新页面
			doSetPagination(result.data);
		} else {
			doSetErrorMessage(result.msg)
		}
	}
	function doSetErrorMessage(msg) {
		$("#activity").html("");
		doInitPage();
	}
	function doInitPage() {
		$(".rowCount").html("总记录数(0)");
		$(".pageCount").html("总页数(0)");
		$(".pageCurrent").html("当前页数(1)");
	}
	 function doSetTableBodyRows(records) {
		//console.log(records);
		$("#activity").html("");
		for ( var i in records) {
			var parent=document.getElementById("activity");
			var div1=doCreateElement1(records[i]);
			var div2=doCreateElement2(records[i]);
			parent.appendChild(div1);
			parent.appendChild(div2);
		} 
	} 
	 function doCreateElement2(data){
			var actiId=data.id;
			console.log(actiId);
		 	var div=document.createElement("a");
		 	div.setAttribute("href","activity/detail?id="+actiId)
			var text=document.createTextNode("活动详细信息");
			div.appendChild(text);
			return div;
	 }
	 function doCreateElement1(data) {
		var div=document.createElement("div");
		var text=document.createTextNode(data.actiName);
		div.appendChild(text);
		return div;
	} 
</script>
</body>
</html>