<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>宠物社区</title>
<!--Custom Theme files-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<!--Custom Theme files-->
<link rel="stylesheet"
	href="bower_components/bootstrap-3.3.7-dist/css/bootstrap.min.css">
<link href="dist/css/style.css" rel="stylesheet" type="text/css"
	media="all" />
<link type="text/css" rel="stylesheet"
	href="dist/css/jquery.mmenu.all.css?v=5.4.4" />
<!--//Custom Theme files-->
<!--web-fonts-->
<link href='http://fonts.googleapis.com/css?family=Jura:400,300,500,600'
	rel='stylesheet' type='text/css'>
<!--//web-fonts-->
<style type="text/css">
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}
</style>
</head>
<body>
	<div class=" mm-wrapper" id="page">
		<div class="push-menu ">
			<div class="banner">
				<div class="banner-text">
					<div class="menu">
						<a href="#menu"><img src="dist/img/menu-icon.png" alt="" /></a>
						<nav id="menu">
							<ul class="">
								<li class="menu-title" onclick="location.href='home'">主页</li>
								<li><a href="personal_modify"><span class="icons">
									</span> 修改信息</a></li>
								<li><a href="personal_password"><span
										class="icons icn4"> </span> 修改密码</a></li>
								<li><a href="login"><span class="icons icn5"> </span>
										退出登录</a></li>
							</ul>
						</nav>
					</div>
					<div class="title">
						<!-- <div class="title-left">
							<img src="dist/img/icon.png" alt="" />
						</div> -->
						<div class="title-right">
							<h2 th:text="${commPO.commName}" th:onclick="location.href='comm_detail?id='+[[${id}]]">社区名</h2>
							<h6 th:text="${commPO.position}">常用定位</h6>
						</div>
						<div class="clear"></div>
					</div>
				</div>
			</div>
			<div class="clear"></div>
			<div class="work-text">
				<div>
					<textarea class="form-control" rows="3" style="width: 100%" id="chatMessage"></textarea>
					<input type="button" onclick="sendMsg()" class="btn btn-primary" value="发送" />
				</div>

				<section class="ac-container">
					<hr />
					<ul id="chatContent">
						<!-- <li>用户名
							<p>内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容</p>
							<hr />
						</li>

						<li>用户名
							<p>内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容</p>
							<hr />
						</li> -->
					</ul>
				</section>
			</div>
		</div>
	</div>

	<script src="dist/js/jquery-1.11.1.min.js"></script>
	<script type="text/javascript"
		src="dist/js/jquery.mmenu.min.all.js?v=5.4.4"></script>

	<script type="text/javascript">
		$(function() {
			$("#menu").mmenu({
				extensions : [ "theme-dark", "effect-listitems-slide" ],
				iconPanels : {
					add : true,
					visible : 1
				},
				navbar : {
					add : false
				},
				counters : true
			}).on('click', 'a[href^="#/"]', function() {
				alert("Thank you for clicking, but that's a demo link.");
				return false;
			});

			loadContent();//页面加载完成后，默认载入聊天社区信息
			
			timer = setInterval(function() {
				loadContent();
			}, 5000);
		});
		function loadContent() {
			var commId = [[${id}]];
			var url = "chat/loadContent";
			var params = {
				"commId" : commId
			};
			$.getJSON(url, params, function(result) {
				if (result.state == 1) {//ok
					setContent(result.data);//将数据呈现在页面上 
				} else {
					alert(result.msg)
				}
			});//特殊的ajax函数
		}
		function sendMsg() {
			var url = "chat/sendMsg"
			var chatMessage = $("#chatMessage").val();
			if(chatMessage==null||chatMessage==""){
				alert("输入消息不能为空");
				return;
			}
			var params = {
				"commId" : [[${id}]],
				"chatMessage" : chatMessage
			};
			$.post(url, params, function(result) {
				if (result.state == 1) {//ok
					loadContent();//刷新页面显示
				} else {
					alert(result.msg)
				}
			});//特殊的ajax函数
			$("#chatMessage").val("");
		}
		function setContent(data) {
			console.log(data);
			var content = $("#chatContent");
			content.empty();
			for (var i = 0; i < data.length; i++) {
				var eleStr = "<li>"+data[i].nickname+" "+data[i].createdTimeStr+"<p>"+data[i].content+"</p><hr/></li>";
				content.append($(eleStr));
			}
		}
	</script>
</body>
</html>