<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.tedu.petCommunity.sys.dao.PetcCommunityDao">
	<sql id="queryWhereId1">
		<where>
			id in
			(select comm_id from user_comm where user_id=#{userId})
		</where>
	</sql>
	<!--查询社区 -->
	<select id="findCommunitys"
		resultType="com.tedu.petCommunity.sys.entity.PetcCommunityPO">
		select *from community
		<include refid="queryWhereId1" />
		order by created_time desc
		limit #{startIndex},#{pageSize}
	</select>

	<!--创建社区 -->
	<insert id="createObject"
		parameterType="com.tedu.petCommunity.sys.entity.PetcCommunityPO">
		insert into community
		(comm_name,position,create_user,created_time,modified_time)
		values
		(#{commName},#{position},#{createUser},#{createdTime},#{modifiedTime})
	</insert>	
	<select id="findPetcCommunityByName" 
		resultType="com.tedu.petCommunity.sys.entity.PetcCommunityPO">
		select comm_name from community where comm_name=#{commName}
	</select>
	<!-- 查询社区 -->
	<sql id="queryWhereId">
		from community
		<where>
			<if test="commName!=null and commName!=''">
				comm_name like concat("%",#{commName},"%")
			</if>
		</where>
	</sql>

	<select id="FindPetcCommunity"
		resultType="com.tedu.petCommunity.sys.entity.PetcCommunityPO">
		select *
		<include refid="queryWhereId" />
		order by create_time desc

	</select>

	<select id="getRowCount" resultType="int">
		select count(*)
		<include refid="queryWhereId1" />
	</select>

	<!--修改社区 -->
	<select id="findObjectById" parameterType="int"
		resultType="com.tedu.petCommunity.dailyreport.vo.UserCommVo">
		select *
		from user
		where id=#{id}
	</select>



	<!-- 加入社区 -->
	<insert id="addC"
		parameterType="com.tedu.petCommunity.sys.entity.PetcCommunityPO"
		useGeneratedKeys="true" keyProperty="id">
		insert into community
		(comm_name,position)
		values
		(#{commName},#{position})
	</insert>

	
	<delete id="doDisband">
	delete user_id
	from user_comm
	where comm_id=#{commId};
	
	delete content
	from chat
	where comm_id=#{commId};
	
	delete id
	from community
	where id=#{commId}
	
	
	</delete>
</mapper>