<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tedu.petCommunity.sys.dao.PetcActivityDao">
	<sql id="queryWhereId">
		<where>
			<if test="actiName!=null and actiName!=''">
				acti_name like concat("%",#{actiName},"%")
			</if>
		</where>
	</sql>
	
	<update id="update"
		parameterType="com.tedu.petCommunity.sys.entity.PetcActivityPO"
		useGeneratedKeys="true" keyProperty="id">
		update activity set acti_name=#{actiName},position=#{position},valid=#{valid},acti_type=#{actiType},
		start_time=#{startTime},end_time=#{endTime},modified_time=#{modifiedTime} where id=#{id}
	</update>
	
	<select id="getRowCount" resultType="int">
		select count(*) from activity
		<include refid="queryWhereId"/>
	</select>
	<select id="findActivities"
		resultType="com.tedu.petCommunity.sys.entity.PetcActivityPO">
		select
		id,acti_name,position,valid,acti_type,start_time,end_time,create_time,modified_time
		,create_user,modified_user from activity
		<include refid="queryWhereId" />
		order by create_time desc limit #{startIndex},#{pageSize}
	</select>
	<select id="findActivityById"
		resultType="com.tedu.petCommunity.sys.entity.PetcActivityPO">
		select * from activity where id=#{id}
	</select>

	<insert id="insert"
		parameterType="com.tedu.petCommunity.sys.entity.PetcActivityPO"
		useGeneratedKeys="true" keyProperty="id">
		insert into activity
		(id,acti_name,position,valid,acti_type,start_time,end_time,created_time,modified_time
		,created_user,modified_user)
		values
		(null,#{actiName},#{position},#{valid},#{actiType},#{startTime},#{endTime},#{createdTime},
		#{modifiedTime},#{createdUser},#{modifiedUser})
	</insert>
	<!--查询社区 -->
	<select id="findActivitys"
		resultType="com.tedu.petCommunity.sys.entity.PetcActivityPO">
		select *from activity
		<include refid="queryWhereId1" />
		order by start_time desc
		limit #{startIndex},#{pageSize}
	</select>
	<select id="getRowCount1" resultType="int">
		select count(*) from activity
		<include refid="queryWhereId1" />
	</select>
	<sql id="queryWhereId1">
		<where>
			id in
			(select acti_id from user_acti where user_id=#{userId})
		</where>
	</sql>
	
	<select id="loadActi"
		resultType="com.tedu.petCommunity.sys.entity.PetcActivityPO">
		select *from activity
		<where>
			<if test="actiName!=null and actiName!=''">
				acti_name like concat("%",#{actiName},"%")
			</if>
		</where>
		order by created_time desc
		limit 0,20
	</select>
</mapper>
