<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tedu.petCommunity.sys.dao.PetcLogDao">

	<insert id="insertObject">
		insert into log
		values
		(#{id},#{userId},#{username},#{operation},#{method},#{params},#{time},#{ip},#{createdTime})
	</insert>
	
</mapper>







