<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet"
	href="bower_components/bootstrap-3.3.7-dist/css/bootstrap.min.css">
<link rel="stylesheet" href="dist/css/register.css">
</head>
<body>
	<div id="header">
		<div id="line1">
			<!-- jtlog,欢迎注册 -->
			<span class="wel-regist">欢迎来到宠物社区</span>
		</div>
		<div id="line2">
			<!-- 已有账号,请登录 -->
			<span>已有账号? <a href="#">请登录</a>
			</span>
		</div>
	</div>
	<div id="middle">
		<form method="post" id="formSubmit" enctype="multipart/form-data">
			<table>
				<tr>
					<td><input type="text" name="username" maxlength="10" min="4"
						placeholder="用户名"></td>
				</tr>
				<tr>
					<td class="err-msg">支持中文、字母、数字、“-”、“_”的组合，4-10个字母</td>
				</tr>
				<tr>
					<td>
						<!-- 密码 --> <input type="password" id="password" name="password"
						maxlength="10" placeholder="设置密码" />
					</td>
				</tr>
				<tr>
					<!-- 提示消息 -->
					<td class="err-msg">建议使用数字、字母和符号两种以上的组合，6-10个字符</td>
				</tr>
				<tr>
					<td>
						<!-- 确认密码 --> <input type="password" id="rwpwd" name="rwpwd"
						maxlength="10" placeholder="确认密码" />
					</td>
				</tr>
				<tr>
					<!-- 提示消息 -->
					<td class="err-msg" id="rwpwderr">请再次确认密码</td>
				</tr>
				<tr>
					<td>
						<!-- 验证手机 --> <input type="text" maxlength="11" name="mobile"
						placeholder="验证手机" />
					</td>
				</tr>
				<tr>
					<!-- 提示消息 -->
					<td class="err-msg">请输入您的手机号码</td>
				</tr>
				<tr>
					<td>
						<!-- 验证码 --> <input type="text" name="code" placeholder="动态码" />
						<button name="coder" class="btn btn-default">获取验证码</button>
					</td>
				</tr>
				<tr>
					<td><input type="submit" value="立即注册" /></td>
				</tr>
				

			</table>
		</form>
	</div>
	<script src="bower_components/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript">
	
		$(function() {
			$("#password").change(check2pwd);
			$("#rwpwd").change(check2pwd);
			$('#formSubmit').submit(submitRegister);
		});
		 
		function submitRegister() {
	        //首先验证
	        if(!check()){
	        	return;
	        	
	        }
	       
	        
              $.post("/doRegister",$("form").serialize(),function (data) {
                if (data.state==1) {
                	alert("注册成功")
        	       window.location.href="login"; 
                } else {
                    alert(data.message);
                }
            })  
            return false;
	    }
		function check2pwd() {
			if ($("#password").val() != $("#rwpwd").val()) {
				$("#rwpwderr").html("两次密码输入不一致");
				$("#rwpwderr").addClass("alert");
			} else {
				$("#rwpwderr").html("请确认密码");
				$("#rwpwderr").removeClass("alert");
			}
		}
		//注册提交时,校验必填框是否为空
		function check(){
			　　var username = $("[name='username']").val();　　
			　　if(username == null || username == ""){
			　　　　alert("用户名不能为空");
			　　　　return false;
			　　}
				var password =$("[name='password']").val();　　
			　　  if(password == null || password == ""){
			　　　　alert("密码不能为空");
			　　　　return false;
			　　}
			  var rwpwd =$("[name='rwpwd']").val();　　
			　　  if(rwpwd == null || rwpwd == ""){
			　　　　alert("确认密码不能为空");
			　　　　return false;
			　　}
			  var mobile =$("[name='mobile']").val();　　
			　　  if(mobile == null || mobile == ""){
			　　　　alert("手机号码不能为空");
			　　　　return false;
			　　}
			  var code =$("[name='code']").val();　　
			　　  if(code == null || code == ""){
			　　　　alert("验证码不能为空");
			　　　　return false;
			　　}
			　　　　return true;
			　　}
	</script>
</body>
</html>