<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet"
	href="../bower_components/bootstrap-3.3.7-dist/css/bootstrap.min.css">
</head>
<body>

	<div style="padding: 100px 100px 10px;">
		<form action="doUpdatePassword" class="bs-example bs-example-form" role="form">
		<!-- <input name="id" id="id" th:value="${user.id}" hidden="true"/> -->
			<div class="input-group">
			<!-- <label for="pwdId" class="col-sm-2 control-label">原密码</label> -->	
				<span class="input-group-addon">旧密码</span> 
				<input name="password" type="text" class="form-control">
			</div>
			<br>
			<div class="input-group">
				<span class="input-group-addon">新密码</span> 
				<input name="newPwd" type="password" class="form-control">
			</div>
			<br>
			<div class="input-group">
				<span class="input-group-addon">确认新密码</span> 
				<input name="cfgPwd" type="password" class="form-control">
			</div>
			<br>
			<input type="submit" value="确认修改" id="modify" />
		</form>
	</div>
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
	$(function(){
		$("#modify").click(doModifyUI);
	})
	function getId() {
		   var url = location.search; //获取url中"?"符后的字串
		   if (url.indexOf("?") != -1) {    //判断是否有参数
		      var str = url.substr(1); //从第一个字符开始 因为第0个是?号 获取所有除问号的所有符串
		      strs = str.split("=");        //直接弹出第一个参数 （如果有多个参数 还要进行循环的）
		   }
		   return strs[1];
		}
	function doModifyUI(){
		window.location.replace("doUserPsUI/doUpdatePassword?id="+$("#id").val());
	}
</script>
	
</body>
</html>