<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>活动列表</title>
<style type="text/css">
.a{
    background-image: url(https://wx3.sinaimg.cn/mw1024/794f086dgy1g89af10wg0j20dw0hj3zi.jpg);
    opacity:0.5;
}
.b{opacity:1;}

</style>
</head>
<body>
<div class="a">
<div>111</div>
<div>111</div>
<div>111</div>
<div>111</div>
	<div class="b">
	<h1>Detail</h1>
	
	<div class="row">
	
			<!-- /.box-header -->
			<div>
				<table class="table table-hover" style="opacity:1">
					<thead>
						<tr>
							<th>活动名称</th>
							<th>地点</th>
							<th>宠物类型</th>
							<th>开始时间</th>
							<th>结束时间</th>
							<th>创建时间</th>
						</tr>
					</thead>
					<tbody id="tbodyId">
					    <tr>
					       <td colspan="7">数据正在加载中...</td>
					    </tr>
					</tbody>
				</table>
			</div>
			<div id="pageId"></div>
			<!-- /.box-body -->
	</div>
<img alt="img" src="">
	</div>
	<p>
	<p>
</div>
	<script type="text/javascript">


</script>
</body>
</html>